//
.infobox{
	width:auto;
	min-height:140px;
	margin-right:50px;
	min-height:135px;
	padding: 20px;
	.infobox-content{
		&:first-child{
			font-weight:500;
		}
	}
	>.infobox-icon{
		margin-top:15px;
	}
	>.infobox-data{
		max-width:220px;
		>.infobox-data-number{
			width:100px;
			font-size:14px;
			display:inline-block;
		}
	}
}
