doctype html
html(lang="en")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(charset="utf-8")
		title 首页-聚乐付
		meta(name="Author" content="jiqingjian")
		meta(name="Keywords" content="jiqingjian")
		meta(name="Description" content="jiqingjian")
		meta(name="viewport" content="width=device-width,user-scalable=no")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black")
		meta(name="format-detection" content="telephone=no")
		//<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<link rel="stylesheet" href="../static/plugins/ace/assets/css/bootstrap.min.css" />
		link(rel="stylesheet" href="../static/plugins/ace/assets/css/font-awesome.min.css")
		link(rel="stylesheet" href="../static/plugins/ace/assets/css/ace.min.css" id="main-ace-style")
		link(rel="stylesheet" href="../static/public/css/public.css")
		link(rel="stylesheet" href="../static/LezCashier/css/base.css")
		link(rel="stylesheet" href="../static/LezCashier/css/index.css")
		//link(rel="stylesheet" href="http://10.1.15.50:8000/static/LezCashier/css/index.mod.css")
