div.col-xs-12
  //PAGE CONTENT BEGINS
  h1.h1.title-line Title
div.col-xs-12
  p.pb10.fs18
    |下午好！wangy140910[超级管理员]，欢迎使用电视钱包后台管理系统！
  p.pb10.fs18
    |您上次登录时间：2015-06-16 16:15:16    登陆IP：10.1.15.51
  div.infobox.infobox-orange2
    div.infobox-icon
      i.ace-icon.fa.fa-calendar
    div.infobox-data
      span.infobox-data-number.infobox-content.text-right
        | 昨日充值金额：
      span.infobox-data-number.infobox-content
        em.infobox-orange2 126.00
        | 元
      span.infobox-data-number.infobox-content.text-right
        | 本月充值金额：
      span.infobox-data-number.infobox-content
        em.infobox-orange2 126.00
        | 元
      span.infobox-data-number.infobox-content.text-right
        | 上月充值金额：
      span.infobox-data-number.infobox-content
        em.infobox-orange2 126.00
        | 元
  div.infobox.infobox-green
    div.infobox-icon
      i.ace-icon.fa.fa-credit-card
    div.infobox-data
      span.infobox-data-number.infobox-content.text-right
        | 累计订单：
      span.infobox-data-number.infobox-content
        em.infobox-orange2 126.00
        | 笔
      span.infobox-data-number.infobox-content.text-right
        | 成功订单：
      span.infobox-data-number.infobox-content
        em.infobox-orange2 126.00
        | 笔
      span.infobox-data-number.infobox-content.text-right
        | 失败订单：
      span.infobox-data-number.infobox-content
        em.infobox-orange2 126.00
        | 笔
      span.infobox-data-number.infobox-content.text-right
        | 待付款订单：
      span.infobox-data-number.infobox-content
        em.infobox-orange2 126.00
        | 笔